#wrap {
    width: 800px;
}

body {
    font-family: "Verdana", Times, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: left;
	background-color: lightgray;
}

li a {
	text-align: center;
	padding: 0 10px 10px 10px;
	text-decoration: none;
	font-size: 16px;
}

img {
    width: 270px;
    height: 140px;
	display: inline-block;
    vertical-align: top;
}

#section {
    
}

#subtitle {
    font-size: 22px;
    margin-top: -25px;
}

#content {
    width: 50%;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
	text-align: justify;
}

#boxtitle {
    width: 200px;
    margin-left: 52px;
}

#summary {
    margin-top: -8px;
}

#boxsummary {
    width: 198px;
    margin-left: 123px;
	margin-top: -18px;
}

#boxcategory {
    width: 204px;
    margin-left: 61px;
}

#category {
    margin-top: 0px;
}

#name {
	margin-top: 3px;
}

#boxname {
	width: 200px;
	margin-left: 33px;
}

#button {
	width: 80px;
    margin-left: 247px;
    margin-top: 15px;
}

#maincontent {
	padding-top: 50px;
}

article {
	margin-left: 10px;
	font-size: 12px;
}

#articlesummary {
	text-align: justify;
	width: 80%;
}

footer {
    font-size: 14px;
    padding-top: 25px;
}

